<body>
  <div class="grid-container">
    <section class="profile-bar">
      <app-profile-bar></app-profile-bar>
    </section>
    <section class="inspirational-quote">
      <app-inspirational-quote></app-inspirational-quote>
    </section>
    <section class="add-habit">
      <app-add-habit></app-add-habit>
    </section>
    <section class="habit-list">
      <app-habit-list-item></app-habit-list-item>
      <app-habit-list-item></app-habit-list-item>
      <app-habit-list-item></app-habit-list-item>
      <app-habit-list-item></app-habit-list-item>
      <app-habit-list-item></app-habit-list-item>
      <app-habit-list-item></app-habit-list-item>
      <app-habit-list-item></app-habit-list-item>
      <app-habit-list-item></app-habit-list-item>
      <app-habit-list-item></app-habit-list-item>
    </section>
  </div>
</body>
