/* You can add global styles to this file, and also import other style files */
:root {
    --green: #32a852;
    --red: #e81a1a;
    --background: #9fddba;
    --section-background: #f2fff8;
    --accent-color: #000;
    --hover-color: #ffffff85;
    --second-background: #2f6b57;
}

* {
    margin: 0;
    background-color: var(--background);
}
