* {
    background: none;
}

#container {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

h1 {
    background: none;
}